version: '3.9'

services:
  web:
    build: .
    container_name: mini-trello-backend
    command: uv run manage.py runserver 0.0.0.0:8080
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./:/app/
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    ports: 
      - "5432:5432"
volumes:
  postgres_data:
